<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{{ 'Homepage'|trans }}</title>

    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="{{ app.request.basepath }}/assets/css/styles.css">

    <script src="{{ app.request.basepath }}/js/libs/modernizr-2.5.3-respond-1.1.0.min.js"></script>
</head>
<body>
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
    <header>
        <a href="http://library.neu.edu" class="nu-lib-logo" alt="Northeastern Univerity, University Libraries."></a>
    </header>
    {% set active = active|default(null) %}
    <div class="navbar">
        <div class="navbar-inner">
            <a class="navbar-brand" href="{{ path('homepage') }}">DRS</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li {% if 'page_with_cache' == active %}class="active"{% endif %}>
                        <a href="{{ path('page_with_cache') }}">Cache sample</a>
                    </li>
                    <li {% if 'form' == active %}class="active"{% endif %}>
                        <a href="{{ path('form') }}">Form sample</a>
                    </li>
                    <li {% if 'doctrine' == active %}class="active"{% endif %}>
                        <a href="{{ path('doctrine') }}">Doctrine</a>
                    </li>
                    <li {% if 'browse' == active %}class="active"{% endif %}>
                        <a href="{{ path('browse') }}">Browse</a>
                    </li>
                    
                        <form class="navbar-form pull-left" action="">
                            <input type="text" class="col-span-8" placeholder="Search">
                        </form>
                    
                    </li>
                    <li class="dropdown{% if 'account' == active %} active{% endif %}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Account <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            {% if is_granted('ROLE_USER') %}
                                <li><a href="{{ path('logout') }}">{{ 'Logout'|trans }}</a></li>
                            {% else %}
                                <li><a href="{{ path('login') }}">{{ 'Login'|trans }}</a></li>
                                <li><a href="#">{{ 'Register'|trans }}</a></li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
                
            </div><!--/.nav-collapse -->
        </div>
    </div>

    <div>
        <div id="main" role="main">
            {% set alertTypeAvaillable = [ 'info', 'success', 'warning', 'error'] %}
            {% for alert in alertTypeAvaillable %}
                {% for message in app.session.getFlashBag.get(alert) %}
                    <div class="alert alert-{{ alert }}" >
                        <button class="close" data-dismiss="alert">×</button>
                        {{ message|trans }}
                    </div>
                {% endfor %}
            {% endfor %}
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <footer>
            <div class="row-fluid">
                        <div class="col-span-3 nu ">
                            <a alt="Northeastern University" href="http://www.northeastern.edu">Northeastern University</a>
                        </div>
                        <div class="col-span-6">
                            <nav>
                                <ul class="info"> 
                                    <li><a href="http://myneu.neu.edu/cp/home/displaylogin" class="ext">myNEU</a>
                                    <li><a href="https://prod-web.neu.edu/webapp6/employeelookup/public/main.action" class="ext">Find Faculty &amp; Staff</a></li>
                                    <li><a href="http://www.northeastern.edu/neuhome/adminlinks/findaz.html">Find A-Z</a></li>
                                    <li><a href="http://www.northeastern.edu/emergency/index.html">Emergency Information</a></li>
                                    <li><a href="http://www.northeastern.edu/search/index.html">Search</a></li>
                                </ul>
                            </nav>
                            <p class="address">
                                360 Huntington Ave., Boston, Massachusetts 02115 · 617.373.2000 · TTY 617.373.3768<br>
                                &copy; <!-- TODO Change this templace to accept a year variable.-->2013 Northeastern University
                            </p>
                        </div>
                        <div class="col-span-3 social icons">
                            <!-- Youtube Icon -->
                            <a class="social icon youtube ext" href="https://www.youtube.com/northeastern">
                                <i class="icon-youtube icon-large"></i>
                                <span class="hidden">Youtube</span>
                                
                            </a>
                            <!-- Twitter icon -->
                            <a class="social icon twitter ext" href="http://twitter.com/northeastern">
                                <i class="icon-twitter-sign icon-large"></i>
                                <span class="hidden">Twitter</span></a>
                            
                            <!-- Facebook Icon -->
                            <a class="social icon facebook ext" href="http://www.facebook.com/northeastern">
                                <i class="icon-facebook-sign icon-large"></i>
                                <span class="hidden">Facebook</span></a>
                            <!-- -->
                            <a href="#top" class="pull-right">back to top &uarr;</a>
        
                        </div>
        
                    </div>
        </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ app.request.basepath }}/js/libs/jquery-1.7.2.min.js"><\/script>')</script>
    <script src="{{ app.request.basepath }}/assets/js/scripts.js"></script>
</body>
</html>
