{% extends 'layout.html.twig' %}
{% set active = 'doctrine' %}

{% block content %}
  
    <h1>Searched for <i>{{ keywords }}</i></h1>
    {%if resultset|length > 0 %}
       
        {% for result in resultset %}
          
          {% if loop.first or (loop.index - 1) % 4 == 0 %}
          <div class="row">
          {% endif %}
            
            <div class="col col-lg-3">
              <div class="thumbnail">
                <a href="{{ path('view',{ pid: result.pid } ) }}" >
                  {% if result.lowres|length > 0  %}
                    <img src="{{ result.lowres }}"/>
                  {% elseif result.thumbnail|length > 0 %}
                    <img src="{{ result.thumbnail }}" />
                  {% else %}
                    <div class="glyphicon-book glyphicon"></div>
                  {% endif %}
                </a>
              <h4>{{result.title_display}}</h4>
                {#% if result.publisher|length > 0 %}
                  <p>
                  {{result.publisher[0]}}
                  </p>
                {% endif %#}
              </div> <!-- end thumbail -->  
            </div><!-- end col-lg-3-->
          {% if loop.last or loop.index % 4 == 0 %}
            </div><!--end row--> 
          {% endif %}
        
        {% endfor %}
      

    {% else %}
      <h3> No Results found for {{keywords}}</h3>
    {% endif %}

{% endblock %}
