{% extends 'layout.html.twig' %}
{% set active = 'browse' %}




{% block content %}
  {% if item.type_txt == "image" %}
  <article>
    <header>  
      <h1>{{  item.title_display }}</h1>
    </header>
    <div class="row">
      <figure class="col col-lg-6">
        <img src="{{item.lowres}}"/>
        <figcaption>
          {{item.abstract[0]}}
        </figcaption>
      </figure>
      

      {% if item.media is not empty %}
        <div>
          <ul>
          {% for media in item.media %}
            {% if media.mediaType == "sdef:image_thumbnail"%}
              <li><a href="{{media.mediaMethods.getTHUMBNAIL}}">Thumbnail</a><a href="{{media.mediaMethods.getFITS}}"><span class="glyphicon-info-sign glyphicon"></span></a></li>
            {% elseif media.mediaType == "sdef:image_lowres"%}
              <li>Low Res Image</li>
            {% elseif media.mediaType ==  "sdef:image_highres"%}
              <li>High Resolution Image</li>
            {% else %}
              <li>{{meida.mediaType}}</li>
            {% endif %}
          {% endfor %}
          <ul>
        </div>
      {% endif %}
    </div>
  <article>
  {% endif %}
{% endblock %}
